#title{
	font-size: 26px;
	line-height: 75px;
}

.menu-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 75px;
	font-size: 16px;
	margin-top: 10px;
	background-color: rgb(120, 157, 224)
}

body{
	background-color: rgb(159, 189, 245);
}

p{
	text-align: center;
}

a{
	text-align: center;
}

button.menu-object{
	border-radius: 24px;
}

button.menu-object:active{
	font-size: 18px;
	width: 275px;
	height: 70px;
	background-color: rgb(72, 105, 167);
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
	background-color: rgb(72, 105, 167);
}

.pi_2{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 75px;
	font-size: 16px;
	margin-top: 10px;
	background-color: rgb(120, 157, 224)
}

button.pi_2{
	border-radius: 24px;
}

button.pi_2:active{
	font-size: 18px;
	width: 275px;
	height: 70px;
	background-color: rgb(72, 105, 167);
}

button.pi_2:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
	background-color: rgb(98, 128, 184);
}

.container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.titol{
	grid-column: 2;
	grid-row: 1;
}

.opcio1{
	grid-column: 2;
	grid-row: 2;
}

.opcio2{
	grid-column: 2;
	grid-row: 3;
}

.opcio3{
	grid-column: 1;
	grid-row: 1;
}

.containerCards{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	
}

.card1{
	grid-column: 1;
}

.card2{
	grid-column: 2;
}
.card3{
	grid-column: 3;
}

.card4{
	grid-column: 4;
}